html{
  height: 100%;
}
body{
  margin: 0px;
  height: 100%;
  font-family: "Microsoft YaHei";
}
ol,ul{
	list-style-type: none;
}
a{
	color: #666;
  text-decoration: none;
  cursor: pointer;
}
.left{
  float: left;
}
.right{
  float: right;
}